{% block content %}

<div class="invitation-form-tile centered-column outline fill-width push-to-bottom"> 
    <h2 class="primary-color">Date?</h2>
    <!--TODO: implement the date part here in js perhaps-->
    <hr>
    <p>at Malvarosa 4, Madrid</p>
    <form type="submit" class="centered-column fill-parent">
        {{ form.csrf_token }}
        {{ form.message.label }}
        {{ form.message }}
        {% if form.message.errors %}
            <ul class="errors">
            {% for error in form.message.errors %}
                <li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
        
        {% if is_requesting %}
        <ul class="push-to-bottom row space-between">
            <li><i class="fas fa-times"></i></li>
            <li><i class="fas fa-heart"></i></li>
        </ul>
        {% else %}
        <ul class="push-to-bottom row space-around">
            <li><i class="fas fa-times"></i></li>
            <li><i class="fas fa-heart-broken"></i></li>
            <li><i class="fas fa-clock"></i><i class="fas fa-sync-alt"></i></li>
            <li><i class="fas fa-heart"></i></li>
        </ul>
        {% endif %}
        
    </form>
</div>

{% endblock %}