{% block content %}

<div
        class="invitation-form-tile centered-column outline fill-width push-to-bottom"
>
    <h2 class="primary-color">Date?</h2>
    <!--TODO: implement the date part here in js perhaps-->
    <hr/>
    <p>at Malvarosa 4, Madrid</p>
    <form type="submit" class="centered-column fill-parent" id="invite-form">
        {{ form.csrf_token }}
        <div class="gap-15"></div>
            <div class="push-to-bottom centered-column fill-width">
                {{form.id(id='id-hidden')}}

                {% if not is_requesting %}
                <textarea id="message-inbound" disabled></textarea>
                {% endif %}

                {{ form.message.label }}
                {{ form.message(id='message-input') }}
                <ul class="errors" id="message-errors">
                </ul>
                {{ form.date.label }}
                {{ form.date(id='date-input') }}
                <ul class="errors" id="date-errors">
                </ul>
                <div class="gap-15"></div>
                {% if is_requesting %}
                <ul class="push-to-bottom row space-between fill-width">
                    <li>
                        <div class="labeled-icon" id="reject"><i class="fas fa-times"></i>Reject</div>
                    </li>
                    <li>
                        <div class="labeled-icon" id="invite"><i class="fas fa-heart"></i>Invite</div>
                    </li>
                </ul>
                {% else %}
                <ul class="push-to-bottom row space-around fill-width">
                    <li>
                        <div class="labeled-icon"><i class="fas fa-times" id="reject-invitation"></i>Reject</div>
                    </li>
                    <li>
                        <div class="labeled-icon"><i class="fas fa-heart-broken" id="ignore"></i>Ignore</div>
                    </li>
                    <li>
                        <div class="labeled-icon"><i class="fas fa-clock" id="reschedule"></i>Reschedule</div>
                    </li>
                    <li>
                        <div class="labeled-icon"><i class="fas fa-heart" id="accept"></i>Accept</div>
                    </li>
                </ul>
                {% endif %}
            </div>
    </form>
</div>

{% endblock %}
