{% block content %}

<div
  class="invitation-form-tile centered-column outline fill-width push-to-bottom"
>
  <h2 class="primary-color">Date?</h2>
  <!--TODO: implement the date part here in js perhaps-->
  <hr />
  <p>at Malvarosa 4, Madrid</p>
  <form type="submit" class="centered-column fill-parent" id="invite-form">
    {{ form.csrf_token }} 
    <div class="gap-15"></div>
    {{ form.date }} 
    {% if form.date.errors %}
    <ul class="errors">
      {% for error in form.date.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    {% endif %}
    
    <div class="push-to-bottom centered-column fill-width">
      {{ form.message.label }}
      {{ form.message }}
      {% if
      form.message.errors %}
      <ul class="errors">
        {% for error in form.message.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="gap-15"></div>
      {% if is_requesting %}
      <ul class="push-to-bottom row space-between fill-width">
        <li>
          <div class="labeled-icon"><i class="fas fa-times"></i>Reject</div>
        </li>
        <li>
          <div class="labeled-icon"><i class="fas fa-heart"></i>Invite</div>
        </li>
      </ul>
      {% else %}
      <ul class="push-to-bottom row space-around fill-width">
        <li>
          <div class="labeled-icon"><i class="fas fa-times"></i>Reject</div>
        </li>
        <li>
          <div class="labeled-icon"><i class="fas fa-heart-broken"></i>Ignore</div>
        </li>
        <li>
          <div class="labeled-icon"><i class="fas fa-clock"></i>Reschedule</div>
        </li>
        <li>
          <div class="labeled-icon"><i class="fas fa-heart"></i>Accept</div>
        </li>
      </ul>
      {% endif %}
    </div>
  </form>
</div>

<script type="text/javascript">
  const invite_path = {{ url_for("invite_bp.invite", user_id=current_user.id)|tojson }}
  
  invite_button = document.querySelector("#invite")
  invite_button.addEventListener("click", send_invite)

  function send_invite() {
    let form = document.querySelector("#invite-form")
    let data = new FormData(form)
    fetch(invite_path, {
        "method": "POST",
        "body": data,
    })
    .then(response => response.json())
    .then(data => {
      for (var key in data){
        let error_box = document.querySelector("#" + key + "-errors")
        error_box.innerHTML = ""
        for (let i = 0; i < data[key].length; i++){
          error_box.innerHTML += "<li>" + data[key][i] + "</li>"
        }
      }
      //afterwards we would probably want to use js to switch to another suggested match
    })
  }

</script>

{% endblock %}
