{% block content %}

<div class="profile-brief centered-column outline">
    <img src="{{ user.profile.profile_picture_url_or_default }}" class="profile-brief-photo gap-top-15"/>
    <h2 class="text-shadow">{{ user.profile.name }}</h2>
    <p>{{ user.profile.description }}</p>
    
    {% with url=url_for('profile_bp.profile', user_id=user.id), text='See More', width='100px', font_size='medium' %}
    {% include 'components/button.html' %}
    {% endwith %}

    {% if proposal is defined %}
    <div class="outline push-to-bottom fill-width scaffold-background-color gap-top-15">
        <div style="gap: 10px" class="centered-column padding-all-15">
            <p class="primary-color" >{{ proposal.just_date }}</p>
            <hr class="fill-width"/>
            <p>{{ proposal.proposal_message }}</p>
            
        </div>
        <label class="padding-all-15 light-color">{{ proposal.status.name }}</label>
    </div>
    {% endif %}
</div>

{% endblock %}