<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="centered-column scaffold-background-color fill-parent gap-30">
    <h1 class="primary-color">Complete Your Profile</h1>

    <form action="{{ url_for('auth_bp.register') }}" method="get" class="gap-15">
        <button type="submit" class="primary-background-color text-color fill-width shadow">Back to Register</button>
    </form>

    <form method="post" class="centered-column fill-width gap-30 outline shadow" id="complete-profile">
        {{ profile_form.csrf_token }}

        <div class="centered-column fill-width">
            {% with input = profile_form.name %}
            {% include 'components/form_input.html' %}
            {% endwith %}
        </div>

        <div class="centered-column fill-width gap-15">
            {% with input = profile_form.description %}
            {% include 'components/form_input.html' %}
            {% endwith %}
        </div>

        <div class="centered-column fill-width gap-15">
            <label for="gender" class="primary-color">Gender</label>
            <div class="row space-around fill-width">
                {% for name, value in profile_form.gender.choices %}
                <label>
                    <input type="radio" name="gender" value="{{ name }}" class="gap-15"> {{ value }}
                </label>
                {% endfor %}
            </div>
        </div>

        <div class="centered-column fill-width gap-15">
            <label for="gender_preferences" class="primary-color">Gender Preferences</label>
            <div class="row space-around fill-width">
                {% if profile_form.gender_preferences.errors %}
                {% for error in profile_form.gender_preferences.errors %}
                <span class="error-text">{{ error }}</span>
                {% endfor %}
                {% endif %}
                {% for name, value in profile_form.gender_preferences.choices %}
                <label>
                    <input type="checkbox" name="gender_preferences" value="{{ name }}" class="gap-15"> {{ value }}
                </label>
                {% endfor %}
            </div>
        </div>

        <div class="centered-column fill-width gap-15">
            {% with input = profile_form.year_of_birth %}
            {% include 'components/form_input.html' %}
            {% endwith %}
        </div>

        <div class="centered-column fill-width gap-15">
            <label for="age_preferences" class="primary-color">Age Preferences</label>
            <div class="centered-column fill-width">
                {% with input = profile_form.lower_difference %}
                {% include 'components/form_input.html' %}
                {% endwith %}
                <br>
                {% with input = profile_form.upper_difference %}
                {% include 'components/form_input.html' %}
                {% endwith %}
            </div>
        </div>

        <button type="submit" class="primary-background-color text-color shadow">Submit</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const inputs = document.querySelectorAll("input");

        inputs.forEach(input => {
            const savedValue = localStorage.getItem(input.name);
            if (savedValue) {
                if (input.type === "radio" || input.type === "checkbox") {
                    input.checked = savedValue === "true";
                } else {
                    input.value = savedValue;
                }
            }

            input.addEventListener("input", () => {
                const value = input.type === "radio" || input.type === "checkbox" ? input.checked : input.value;
                localStorage.setItem(input.name, value);
            });
        });
    });
</script>
</body>
</html>
