<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.css">
    <link rel="stylesheet"
          href="https://gist.githubusercontent.com/alexventuraio/4d0c725c34941fa42361350dcb43731f/raw/9364364f491288ffa1c1efbe796a44e07c16908d/sponsor.matchxperience.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="form-container">
    <h1 class="primary-color">Complete Your Profile</h1>

    <form action="{{ url_for('auth_bp.register') }}" method="get" class="gap-15">
        <button type="submit" class="primary-background-color text-color fill-width shadow">Back to Register</button>
    </form>

    <form action="{{ url_for('auth_bp.complete_profile') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {% with value=form.photo %}
            {% include "components/partials/profile_photo.html" %}
        {% endwith %}

        {% with name="name", label="Name" %}
            {% include 'components/partials/input_field.html' %}
        {% endwith %}

        {% with choices=form.gender.choices %}
            {% include "components/partials/gender_options.html" %}
        {% endwith %}

        {% with name="year_of_birth", label="Year of Birth" %}
            {% include 'components/partials/input_field.html' %}
        {% endwith %}

        {% with name="description", label="Profile Description" %}
            {% include "components/partials/textarea_field.html" %}
        {% endwith %}

        <div class="input-field">
            <p>
                <label>Gender Preferences</label>
                {% for name, value in form.gender_preferences.choices %}
                    <label>
                        <input type="checkbox"
                               name="gender_preferences"
                               value="{{ name }}"/>
                        <span>{{ value }}</span>
                    </label>
                {% endfor %}
            </p>
        </div>

        {% with lower_difference=form.lower_difference, upper_difference=form.upper_difference %}
            {% include "components/partials/age_preferences.html" %}
        {% endwith %}

        <br>
        <button type="submit" class="btn waves-effect waves-light">Save</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const inputs = document.querySelectorAll("input");

        inputs.forEach(input => {
            const savedValue = localStorage.getItem(input.name);
            if (savedValue) {
                if (input.type === "radio" || input.type === "checkbox") {
                    input.checked = savedValue === "true";
                } else {
                    input.value = savedValue;
                }
            }

            input.addEventListener("input", () => {
                const value = input.type === "radio" || input.type === "checkbox" ? input.checked : input.value;
                localStorage.setItem(input.name, value);
            });
        });
    });
</script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
