<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="scaffold-background-color text-color">

<div class="form-container">
    <h1 class="primary-color">Login</h1>

    <!-- Flash messages section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="card-panel red lighten-3">
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('auth_bp.login') }}">
        {{ form.csrf_token }}
        <div class="input-field">
            {% with input = form.username %}
                <i class="material-icons prefix">account_circle</i>
                <input id="username" type="text" name="username" required>
                <label for="username">Username</label>
            {% endwith %}
        </div>
        <div class="input-field">
            {% with input = form.password %}
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" name="password" required>
                <label for="password">Password</label>
            {% endwith %}
        </div>
        <button type="submit" class="btn primary-background-color">Login</button>
    </form>

    <br>
    <form method="GET" action="{{ url_for('auth_bp.register') }}">
        <button type="submit" class="btn-flat white-text primary-color">Register</button>
    </form>
</div>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>