<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{{ url_for('auth_bp.login') }}">
        {{ form.csrf_token }}

        {% with input = form.username %}
        {% include 'form_input.html' %}
        {% endwith %}
        <br>
        
        {% with input = form.password %}
        {% include 'form_input.html' %}
        {% endwith %}

        <br>
        {{ form.submit() }}
    </form>
    

    <!--THIS IS EXCLUSIVELY FOR TESTING AND MUST BE REMOVED IN THE FINAL VERSION-->
    <br>
    <form method="POST" action="{{ url_for('auth_bp.forced_entry') }}">
        <input type="submit" value="Force entry">
    </form>


</body>
</html>