<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>
<form method="post">
    {{ form.csrf_token }}

    <div id="register">
        {% with input = form.username %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        {% with input = form.email %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        {% with input = form.password %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        {% with input = form.confirm %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        <input type="hidden" name="step" value="register">
        <button type="submit">Next</button>
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const inputs = document.querySelectorAll("input");

        inputs.forEach(input => {
            const savedValue = localStorage.getItem(input.name);
            if (savedValue) input.value = savedValue;

            input.addEventListener("input", () => {
                localStorage.setItem(input.name, input.value);
            });
        });
    });
</script>
</body>
</html>
