/* RESET CSS */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    color: var(--text-color);
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: var(--scaffold-background-color);
}

body * {
    background-color: transparent;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}

/* Remove list bullet points */
ul, ol {
    list-style: none;
    padding-inline-start: 0;
}

/* Remove link underline and color change on click */
a {
    text-decoration: none;
    color: inherit;
}

/*END OF RESET CSS*/

html:has(.scrollable-pane),
body:has(.scrollable-pane) {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent main scrollbar */
}

.container {
    display: flex;
    width: 100%;
    height: 100%; /* Full viewport height */
}

.scrollable-pane {
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    box-sizing: border-box;
}

/* Dark scrollbar styles */
.-webkit-scrollbar {
    width: 12px;
}

.-webkit-scrollbar-track {
    background: #2b2b2b;
}

.scrollable-pane::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 6px;
}

.-webkit-scrollbar-thumb:hover {
    background: #707070;
}

.scrollable-pane {
    scrollbar-color: #505050 #2b2b2b;
    scrollbar-width: thin;
}

.scrollable-pane {
    overflow-y: scroll;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.scrollable-panes-container {
    width: 100%;
    height: calc(100vh - 120px);
}


hr {
    border-color: var(--light-color);
}

.shadow {
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.text-shadow {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.light-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.outline {
    outline: 1px solid var(--light-color);
}

:root {
    --primary-color: #FF7979;
    --darker-primary-color: #c0392b;
    --scaffold-background-color: #2D2D2D;
    --header-color: #1A1A1A;
    --background-color: #383838;
    --text-color: #FFFFFF;
    --light-color: rgba(115, 115, 115, 1);
}

.primary-color {
    color: var(--primary-color);
}

.primary-background-color {
    background-color: var(--primary-color);
}

.scaffold-background-color {
    background-color: var(--scaffold-background-color);
}

.scaffold-color {
    color: var(--scaffold-background-color);
}

.light-color {
    color: var(--light-color);
}

.text-color {
    color: var(--text-color);
}

header {
    box-shadow: 20px 1px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--header-color);
    margin-bottom: 10px;
}

header ul {
    padding-inline-start: 0;
    margin: 0;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

header ul li {
    margin-left: 20px;
    margin-right: 20px;
}


.base-logo {
    width: 200px; /* Fixed width */
    max-width: none;
    max-height: none;
}




.date-invitation-card {
    background-color: var(--background-color);
    width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

.invitation-form-tile {
    height: 45%;
}

.invitation-form-tile hr {
    width: 80%;
}

.push-to-bottom {
    margin-top: auto;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

i {
    color: var(--primary-color);
    margin: 10px;
}

.labeled-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.gap-top-15 {
    margin-top: 15px;
}

.gap-top-30 {
    margin-top: 30px;
}

.gap-top-45 {
    margin-top: 45px;
}

.gap-top-60 {
    margin-top: 60px;
}

.padding-all-15 {
    padding: 15px;
}

.padding-all-30 {
    padding: 30px;
}

.margin-all-5 {
    margin: 5px;
}

.margin-all-15 {
    margin: 15px;
}

.margin-all-30 {
    margin: 30px;
}

.circular-avatar-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;     /* Make it circular */
    object-fit: cover;      /* Ensure the image covers the entire circle */
    border: 2px solid var(--background-color); /* Optional: border around the avatar */

}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 200px;
}

.solo-centered-column-under-top-bar {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: 100vh; */
    min-height: calc(100vh - 130px);
}

.centered-height-with-nav {
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
}

.redirect-buttons-set {
    /* margin-right: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    width: fit-content;
}

.redirect-buttons-set-button {
    color: var(--text-color);
    border-radius: 30px;
    border: none;
    padding: 10px;
    /* padding-inline: 10px; */
    text-align: center;
    width: 150px;
    font-size: larger;
}

.orange-button {
    color: var(--text-color);
    border-radius: 30px;
    border: none;
    padding: 10px;
    /* padding-inline: 10px; */
    text-align: center;
    width: 150px;
    font-size: larger;
}

.redirect-buttons-set {
    position: absolute;
    top: 0px;
    left: 20px;
}

.pull-buttons-set {
    /* margin-right: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    width: fit-content;
}

.pull-buttons-set-button {
    color: var(--text-color);
    border-radius: 30px;
    border: none;
    padding: 10px;
    /* padding-inline: 10px; */
    text-align: center;
    width: 150px;
    font-size: larger;
}

.pull-buttons-set {
    position: absolute;
    top: 0px;
    left: 20px;
}

.you-left-col {
    flex: 3;
}

.fadeOut {
    animation: fadeOut 1s linear 1 forwards;
}

.fadeIn {
    animation: fadeIn 2s ease-out 1 forwards;
}

@keyframes fadeOut {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

.chosen-interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px 10px;
    min-height: 30px;
}

.to-be-chosen-interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px 10px;
}

.keyword-soaps-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px 10px;
}

.keyword-soap {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--scaffold-background-color);
    border-radius: 30px;
    padding: 5px 10px;
}

.interest-unselected-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--scaffold-background-color);
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.interest-selected-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
}


/* Profile manager ongoing styling */
.form-container {
    max-width: 500px;
    margin: 5% auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: small;
    color: var(--light-color) !important;
    
}

input[type="text"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--scaffold-background-color);
    color: var(--text-color);
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.form-container .errors {
    color: var(--primary-color);
    font-size: 0.9em;
    margin-bottom: 15px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: var(--darker-primary-color);
}

.form-container img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}


/* Age preferences Slider */
.slider {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.noUi-connect {
    background: var(--primary-color);
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background: var(--primary-color);
}

#left-value, #right-value {
    display: none;
}

#left-value, #right-value {
    visibility: hidden;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: var(--primary-color);
}


.input-field {
    margin-bottom: 30px; /* Ensure proper spacing between input fields */
}

/* Button styling */
button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: var(--darker-primary-color); /* Darker red on hover */
}

/* Red underline for the input field */
.input-field input {
    border-bottom: 2px solid var(--primary-color); /* Red underline */
}

/* Red border when focused */
.input-field input:focus,
.input-field textarea:focus {
    border: none !important; /* Remove default border styles */
    box-shadow: none !important; /* Remove any box shadow effects */
    outline: none !important;
    border-bottom: 2px solid var(--primary-color) !important;
}

input[type="checkbox"]:checked + span:not(.lever)::before{
    border:2px solid transparent;
    border-bottom:2px solid var(--primary-color);
    border-right:2px solid var(--primary-color);
    background:transparent;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
border: 2px solid var(--primary-color);
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
background-color: var(--primary-color);
}


button, .btn, .btn-flat {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal; /* Prevent Materialize default styles from misaligning text */
    padding: 0.8em 1.5em; /* Adjust padding for better aesthetics */
    height: auto; /* Let the height adjust based on content */
}

.input-field input.valid {
    border-bottom: 2px solid var(--primary-color) !important;
    box-shadow: none !important;
}

/* Remove blue from invalid input fields */
.input-field input.invalid {
    border-bottom: 2px solid var(--primary-color) !important; /* Optional: Replace with custom error color */
    box-shadow: none !important;
}

.active {
    color: var(--primary-color) !important;
}

.active-background {
    background-color: var(--primary-color);
}

.profile-brief-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--background-color);
}

.profile-brief {
    gap: 10px;
    /* padding: 20px; */
    width: 45vh;
    margin: 10px;
    margin-bottom: 0px;
    background-color: var(--background-color);
}
