{% extends 'main/imports_base.html' %}
{% block imports_extension %}
    <header>
        <nav>
            <ul>

                <li><a href="{{ url_for('find_page_bp.find_page_invite') }}" class='nav-link' id='nav-find'>Find</a></li>
                <li><a href="{{ url_for('matches_page_bp.matches_page') }}" class='nav-link' id='nav-matches'>Matches</a></li>
                <li><a href="{{ url_for('find_page_bp.find_page_invite') }}" class='nav-link' id='nav-logo'>

                    <img src="{{url_for('static', filename='images/lets-go-out-logo.png')}}" class="base-logo" alt="Company Icon">
                </a></li>
                <li><a href="{{ url_for('you_page_bp.you_page') }}" class='nav-link' id='nav-you'>You</a></li>
                <li><a href="{{ url_for('about_us_page_bp.about_us_page') }}" class='nav-link' id='nav-about-us'>About us</a></li>

                
            </ul>
        </nav>
    </header>
    
        {% block content %}
        {% endblock %}

{% endblock %}