{% extends 'main/base.html' %}

{% block content %}
    <main class="find-page-content">
        {% include 'components/set_of_redirect_buttons.html' %}
        
        {% if date_request_data %}
        <div class="date-invitation-card outline">
            <div class="fill-width centered-column gap-45">
                <img src="https://thispersondoesnotexist.com/" alt="Profile picture" class="circular-avatar-big ">
                <h1 class="push-to-bottom gap-15">{{ date_request_data.name }}</h2>
            </div>
            {% include 'components/date_request.html' %}
            
        </div>
        {% else %}
        <div class="centered-column">
            {% include 'components/no_matches_found.html' %}
        </div>
        {% endif %}
    </main>
{% endblock %}