{% extends 'main/base.html' %}

{% block content %}
    <main class="matches-page-content">
        {% include 'components/set_of_redirect_buttons.html' %}
        {% if not proposals_data %}
            <div class="centered-height-with-nav">{% include 'components/this_list_is_empty.html' %}</div>
        {% else %}

        <div class="centered-column outline">
            {% for proposal_data in proposals_data %}
            {% if proposal_data.proposer_id == current_user.id %}
            {% with 
                img_url=proposal_data.recipient.profile.profile_picture_url_or_default,  
                name=proposal_data.recipient.profile.name,
                description=proposal_data.recipient.profile.description,
                proposal=proposal_data
            %}
            {% include 'components/profile_brief.html' %}
            {% endwith %}
            {% else %}
            {% with 
                img_url=proposal_data.proposer.profile.profile_picture_url_or_default,  
                name=proposal_data.proposer.profile.name,
                description=proposal_data.proposer.profile.description,
                proposal=proposal_data
            %}
            {% include 'components/profile_brief.html' %}
            {% endwith %}
            {% endif %}
            
            {% endfor %}
        </div>

        {% endif %}
    </main>
{% endblock %}