<script src="{{ url_for('static', filename='age_slider.js') }}"></script>
<div class="gap-top-15">
    <label>Age Preferences</label>
    <div id="range-slider"></div>
    <input type="hidden" id="lower-difference" name="lower_difference"
           value="{{ lower_difference }}">
    <input type="hidden" id="upper-difference" name="upper_difference"
           value="{{ upper_difference }}">
    <div>
        <span id="left-value">-30</span>
        <span id="right-value">+30</span>
    </div>
    {% for error in input1.errors %}
        <span class="helper-text red-text">{{ error }}</span>
    {% endfor %}
    {% for error in input2.errors %}
        <span class="helper-text red-text">{{ error }}</span>
    {% endfor %}
</div>
