<script src="{{ url_for('static', filename='age_slider.js') }}"></script>
<div class="gap-top-15">
    <label>Age Preferences</label>
    <div id="range-slider"></div>
    <input type="hidden" id="lower-difference" name="lower_difference"
           value="{{ lower_difference }}">
    <input type="hidden" id="upper-difference" name="upper_difference"
           value="{{ upper_difference }}">
    <div>
        <span id="left-value">-30</span>
        <span id="right-value">+30</span>
    </div>
    {% with input = input1 %}
    {% include "components/partials/error_list.html" %}
    {% endwith %}
    {% with input = input2 %}
    {% include "components/partials/error_list.html" %}
    {% endwith %}

</div>
