<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="{{ url_for('account_manager_bp.account_manager') }}" method="POST">
        
        {{ form.csrf_token }}

        {% with input = form.email, val = current_user.email %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        {% with input = form.old_password %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        {% with input = form.new_password %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>

        {% with input = form.new_confirm %}
        {% include 'components/form_input.html' %}
        {% endwith %}
        <br>
        
        
        {{ form.submit() }}

    </form>
</body>
</html>