<div class="form-container">

    <form action="{{ url_for('profile_manager_bp.account_manager') }}" method="POST">
        
        {{ account_form.csrf_token }}

        {% with type="email", name="email", label="Email", value=current_user.email, input=account_form.email%}
        {% include 'components/partials/input_field.html' %}
        {% endwith %}

        {% with type="password", name="old_password", label="Current password", input=account_form.old_password %}
        {% include 'components/partials/input_field.html' %}
        {% endwith %}

        {% with type="password", name="new_password", label="New password", input=account_form.new_password %}
        {% include 'components/partials/input_field.html' %}
        {% endwith %}
    
        {% with type="password", name="new_confirm", label="Confirm new password", input=account_form.new_confirm %}
        {% include 'components/partials/input_field.html' %}
        {% endwith %}
        
        
        <button type="submit" >Change</button>
    
    </form>

</div>