<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="{{ url_for('profile_manager_bp.profile_manager') }}" method="POST">
        
        {{ form.csrf_token }}
        
        {% with input = form.name, val = current_user.profile.name %}
        {% include 'form_input.html' %}
        {% endwith %}
        <br>
        
        {{ form.gender.label }}
        {% for name, value in form.gender.choices %}
            <label>
                <input type="radio" name="gender" value="{{ name }}" {{ "checked" if current_user.profile.gender.name == name }}>
                {{ value }}
            </label>
        {% endfor %}
        
        {% if form.gender.errors %}
            <ul class="errors">
                {% for error in form.gender.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>

        {% with input = form.description %}
        {% include 'form_input.html' %}
        {% endwith %}
        <br>

        {% if form.gender_preferences.errors %}
            {% for error in form.gender_preferences.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        {% for name, value in form.gender_preferences.choices %}
            <input type="checkbox" name="gender_preferences" value="{{ name }}" {{ "checked" if current_user.has_preference_for(name)}}>
            {{ value }}
        {% endfor %}

        <br>
        


        <br>

        <label>Age preferences:</label>  
            <br>    
            {% with input = form.lower_difference, val=current_user.matching_preferences.lower_difference %}
            {% include 'form_input.html' %}
            {% endwith %}
            <br>

            {% with input = form.upper_difference, val=current_user.matching_preferences.upper_difference %}
            {% include 'form_input.html' %}
            {% endwith %}
            <br>
        <br>

        {{ form.submit() }}

    </form>
</body>
</html>