<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Manager</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.css">
    <link rel="stylesheet"
          href="https://gist.githubusercontent.com/alexventuraio/4d0c725c34941fa42361350dcb43731f/raw/9364364f491288ffa1c1efbe796a44e07c16908d/sponsor.matchxperience.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="form-container">
    <h1>Profile Manager</h1>
    <form action="{{ url_for('you_page_bp.you_page') }}" method="get" class="gap-top-15">
        <button type="submit" class="primary-background-color text-color fill-width shadow">Return</button>
    </form>
    <form action="{{ url_for('profile_manager_bp.profile_manager') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {% with value=current_user.profile.photo.flask_photo_url, input=form.photo %}
        {% include "components/partials/profile_photo.html" %}
        {% endwith %}

        {% with name="name", label="Name", value=current_user.profile.name, input=form.name%}
        {% include 'components/partials/input_field.html' %}
        {% endwith %}

        {% with value_chosen=current_user.profile.gender.name, choices=form.gender.choices, input=form.gender %}
        {% include "components/partials/gender_options.html" %}
        {% endwith %}

        {% with type="number", name="year_of_birth", label="Year of Birth", value=current_user.profile.year_of_birth, input=form.year_of_birth %}
            {% include 'components/partials/input_field.html' %}
        {% endwith %}

        {% with name="description", label="Profile Description", value=current_user.profile.description, input=form.description %}
            {% include "components/partials/textarea_field.html" %}
        {% endwith %}

        {% with interests=current_user.profile.interests %}
            {% include "components/interests_choosing.html" %}
        {% endwith %}

        <div class="input-field">
            <p>
                <label>Gender Preferences</label>
                {% for name, value in form.gender_preferences.choices %}
                <label>
                    <input type="checkbox"
                           name="gender_preferences"
                           value="{{ name }}"
                           {% if current_user.has_preference_for(name) %}checked{% endif %}/>
                    <span>{{ value }}</span>
                </label>
                {% endfor %}
            </p>
        </div>
        {% with input = form.gender_preferences %}
        {% include "components/partials/error_list.html" %}
        {% endwith %}
        
        {% with lower_difference=current_user.matching_preferences.lower_difference , upper_difference=current_user.matching_preferences.upper_difference, input1 = form.lower_difference, input2 = form.upper_difference %}
            {% include "components/partials/age_preferences.html" %}
        {% endwith %}

        <br>
        <button type="submit" >Save</button>
    </form>

    <details class="gap-top-15" id="account_manager_tab" {% if account_change %} open {% endif %}>
        <summary>Account manager</summary>
        {% include "account_manager.html" %}
    </details>    
</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% if account_change %}
<script>
    document.getElementById('account_manager_tab').scrollIntoView();
</script>
{% endif %}
</body>
</html>
