{% extends 'main/base.html' %}
{% block content %}
    <meta id="like-path" data-path="{{ url_for('interaction_bp.like', user_id = user.id) }}">
    <meta id="block-path" data-path="{{ url_for('interaction_bp.block', user_id = user.id) }}">
    
    <main class="solo-centered-column-under-top-bar">
        <div class="centered-column outline" style="width: 400px">
            <div class="row space-between fill-width">
                {% if not user.liked_by_main_user %}
                    <i class="far fa-star text-color fa-2x" id="like-button" value="Like"></i>
                {% else %}
                    <i class="fas fa-star fa-2x" id="like-button" value="Like"></i>
                {% endif %}
                {% if not user.blocked_by_main_user %}
                    <i class="fas fa-ban text-color fa-2x" id="block-button" value="Block"></i>
                {% else %}
                    <i class="fas fa-ban fa-2x" id="block-button" value="Block"></i>
                {% endif %}
            </div>
            {% include 'components/full_profile_info.html' %}
            
        </div>
    </main>

    <script src="{{ url_for('static', filename='profile_logic.js')}}"></script>

{% endblock %}
